body{
    font-family: Arial;
    background:#f1b3da;
    }
#lolito{
     background-color: #ff4d6d;
     color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    }
      
    #lolito:hover{
        background-color: #eb0f2c;
        transform: scale(1.05);
      }
    
      #tun{
        background: #ff4d6d;
        padding: 10px;
        border-radius: 10px;
        width: 40px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      }
      
      #tun-like {
        background-color: #ee8699;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #tun:hover {
        background-color: #e63950;
        transform: scale(1.1);
      }
      
      #contador {
        margin-top: 10px;
        font-weight: bold;
        color: #333;
      }
    .tarjeta{
        background:white;
        padding:40px;
        border-radius:30px;
        box-shadow:10px 10px 30px rgba(0,0,0,0.2);
        text-align:center;
        max-width:500px;
        margin:auto;
    }
.tarjeta{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    text-align:center;
    }
    
    .tarjeta img{
    width:100%;
    border-radius:8px;
    margin:10px 0;
    transition: transform 0.4s;
    }
    .row{
        margin-top:40px;
    }


h1{
        font-family: arial;
        font-size: 45px;
        color: #c396dd;
        text-align: center;
      
}
h2, h3, p{
     text-align: center;
}
#container{
    background-color: #c396dd;

}
img{
    display: block;
    margin: auto;
  }
.btn btn-primary btn-lg:hover{
    background-color:azure;
    border-color: black;

}
.btn-custom-success:hover{
    background-color: #042159;
    border-color: aqua;
}
.button{
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.button:hover{
    background-color: #e63950;
    transform: scale(1.05);
  }



